#table {
    margin-top: 30px;
    position:relative;
}
#table-scroll {
    height:150px;
    overflow:auto;
    margin-top:20px;
}
#table table {
    width:100%;
}
#table table thead th .text {
    position:absolute;
    top:-20px;
    height:20px;
}